<strong>Hi, {{ student_name }}</strong>
<br />
<p>
  Wellcome to GymSpot!
</p>
<p>
  We hope you can have an amaizing experience by training <br />
  with us during your {{ plan_duration }} month(s) plan.
</p>
<p>
  Your personal information and choose plan is:
</p>
<ul>
  <li><strong>Your age: </strong>{{student_age}}</li>
  <li><strong>Plan: </strong>{{plan_name}}</li>
  <li><strong>Total price: </strong>$ {{total_price}}</li>
</ul>
<p>See you at {{start_date}}</p>
<p>
  <small>
    If you have any question, just contact us.
  </small>
</p>
